$font-primary: "Inter", sans-serif;
$font-thin: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

$custom-red: #9a1919;
$custom-sand: #d4bc96;
$custom-black: #000000;

$site-background: white;