@import "variables";

#top-banner {
    margin-top: 30px;
    margin-bottom: 70px;

    #top-banner-left {
        background-color: black;
        color: white;
        font-size: 2rem;
        font-weight: $font-bold;
        white-space: nowrap;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
    #top-banner-right {
        position: relative;
        background-color: rgba(219, 220, 220, 0.37);
        padding-left: 20px;
        padding-right: 5vw;
        padding-top: 20px;
        font-size: 1rem;
        padding-bottom: 50px;
        line-height: 24px;

        #top-banner-right-triangle {
			color: $site-background;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 0;
			height: 0;
			border-bottom: 50px solid $site-background;
			border-left: 50px solid transparent;
		}
    }
}

#leadership-section {
    margin-bottom: 80px;

    #leadership-title {
		font-weight: $font-bold;
		font-size: 1.9rem;
	}

	#leadership-desc {
		max-width: 70%;
		font-weight: 450;
		line-height: 1.7rem;
		font-size: 1.5rem;
		padding-bottom: 10px;
		font-family: 'Crimson Text', serif;
	}
}

#leadership-cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 40px;
    row-gap: 25px;

    .leadership-card-content {

        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            transition: filter .3s ease-in-out;
            -webkit-filter: grayscale(50%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
            filter: grayscale(50%); /* FF 35+ */

        }

        img:hover {
            -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
            filter: grayscale(0%); /* FF 35+ */
        }

        .leadership-name {
            font-weight: bold;
            margin-top: 10px;
            font-size: 1.15rem;
            margin-bottom: 0;
        }

        .leadership-position {
            font-size: 1rem;
            font-style: italic;
            margin-bottom: 10px;

        }

        .leadership-desc {
            font-size: 1rem;
        }

        .bolded {
            font-weight: $font-bold;
        }
    }
}

#connect-section {
    border: 1px solid black;
    .connect-halve {
        padding-top: 20px;
        padding-bottom: 30px;

        .connect-title {
            font-weight: $font-bold;
            font-size: 2rem;
            margin-bottom: 10px;
        }

        .connect-body {
            font-size: 1.25rem;
            line-height: auto;
            margin-bottom: 20px;
        }
    }

    #connect-left {
        background-image: url("/images/law.jpg");
        background-position: center;
        color: white;
        .arrow-link {
            color: white;
            span {
                display: inline-block;
                &:after {
                    content: "";
                    width: 0;
                    right: 0;
                    height: 2px;
                    display: block;
                    background: white;
                    transition-duration: 0.3s;
                    transition-timing-function: ease-out;
                }
                &:hover:after,
                &:focus:after,
                &:active:after {
                    width: 100%;
                }
            }
        }
        padding-left: 2vw;
        padding-right: 5vw;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 1);

        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    #connect-left:hover {
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
    }

    #connect-right {
        background-image: url("/images/letter.jpg");
        background-position: center;
        padding-left: 2vw;
        padding-right: 5vw;
        box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 1);


        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }


    #connect-right:hover {
        box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.7);
    }
}

.accordion {
  background-color: rgb(255, 255, 255);
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-top: 1px solid rgb(0, 0, 0);
  font-weight: 600;
  font-size: 18px;
}

.accordion:hover {
  /*background-color: #ccc;*/
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.accordion:after {
  content: '\002B';
  color: rgb(0, 0, 0);
  font-weight: bold;
  float: right;
  margin-left: 5px;
  
}

.active:after {
  content: "\00D7";
}

.panel {
  margin-top: 10px;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

}