@import "variables";

html {
	font-size: 16px;
}

body {
	font-family: $font-primary;
	background-color: $site-background;
}

a:hover {
	text-decoration: none;
}

a {
	color: black;
}

a:hover {
	color: black;
}

// NavBar
.custom-navbar {
	margin-top: 30px;
	height: 10px;
	background-color: $site-background;
	border-bottom: 2px solid #000000;
}

@media (max-width: 991px) {
	.custom-navbar {
		height: 60px;
	}
}

a.navbar-brand {
	padding-bottom: 0;
	font-weight: 600;
}

a.navbar-brand:hover {
	color: rgba(0, 0, 0, 0.658);
}

.navbar {
	min-height: 45px;
}

.nav-item {
	background-color: white;
}

a.nav-link {
	padding-bottom: 0;
	font-size: 1.15rem;
	font-weight: 500;
	padding-right: 0;
	margin-left: 10px;
}

a.nav-link:hover {
	font-weight: 500;
}

.navbar-item-1:hover {
	color: #f6ad3c !important;
}

.navbar-item-2:hover {
	color: #b9519e !important;
}

.navbar-item-3:hover {
	color: #00a899 !important;
}

.navbar-item-4:hover {
	color: #e72327 !important;
}

// Main Page
.centered-wrapper {
	max-width: 1150px;
	width: 80vw;
	margin-right: auto;
	margin-left: auto;
}

.flexbox-section {
	display: flex;
	justify-content: space-between;
	width: 100%;
}


.right-aligned {
	float: right;
}

#navbar {
	border-style: hidden hidden solid hidden;
	border-width: 1px;
	margin: 0;
	padding: 0;

	#navbar-flex {
		display: flex;
		justify-content: space-between;
		padding: 30px 0 10px 0;
	}
}


#footer {
	margin-top: 100px;
	width: 100%;
	background-color: black;
	height: 250px;
	padding: 30px;

	#footer-left {
		width: auto;
		color: white;
		font-size: 24px;
		font-weight: $font-bold;
	}

	#footer-right {
		width: 40%;
		#footer-links {
			width: 100%;
			display: grid;
			justify-content: space-between;
			grid-template-columns: repeat(3, 100px);
			grid-gap: 32px;
			a {
				text-decoration: none;
				color: white;
				font-size: 1rem;
				font-weight: $font-semi-bold;
				text-align: left;
			}
			a:hover {
				opacity: 0.3;
			}
		}
	}
}

.arrow-link {
	font-weight: $font-medium;
	font-size: 1.3rem;
	display: inline;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	cursor: pointer;
	span {
		display: inline-block;
		&:after {
			content: "";
			width: 0;
			right: 0;
			height: 2px;
			display: block;
			background: black;
			transition-duration: 0.3s;
			transition-timing-function: ease-out;
		}
		&:hover:after,
		&:focus:after,
		&:active:after {
			width: 100%;
		}
	}
}