@import "variables";

#event-top-upper {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;

    #event-top-left {
        min-width: 50%;
        position: relative;

        #event-title {
            #event-date {
                color: #FFE57D;
                font-size: 16px;
                font-weight: $font-regular;
            }

            background-color: black;
            color: white;
            font-size: 30px;
            font-weight: $font-semi-bold;
            padding-left: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            height: 150px;
            position: absolute;
            z-index: 10;
        }

        #left-triangle {
			top: 0;
			color: black;
			position: absolute;
			border-bottom: 150px solid;
			border-right: 150px solid transparent;
            z-index: 10;
		}

        @media (min-width: 1000px) {
            #event-title {
                width: 60%;
            }

            #left-triangle {
                left: 60%;
            }
        }

        @media (max-width: 1000px) {
            #event-title {
                width: 100%;
            }

            #left-triangle {
                left: 100%;
            }
        }
    }

    #event-see-more {
        position: relative;
        background-color: rgba(219, 220, 220, 0.5);
        color: black;
        margin-top: 150px;
        text-align: right;
        height: 150px;
        margin-top: 100px;
        padding-top: 80px;
        padding-right: 30px;

        #right-triangle {
			left: -150px;
			top: 0;
			color: rgba(219, 220, 220, 0.5);
			position: absolute;
			border-top: 150px solid;
			border-left: 150px solid transparent;
		}
    }

    @media (min-width: 1000px) {
        #event-see-more {
            float: right;
        }
    }

    @media (max-width: 1000px) {
        #event-see-more {
            left: 100%;
        }
    }
    
    #event-top-right {
        max-width: 50%;
        #event-image {
            height: 300px;
            overflow: hidden;
            position: relative;
        }
    }

    @media (max-width: 1000px) {
        #event-top-right {
          display: none;
        }
    }
}





#event-description-section {
    padding-right: 10%;
    font-size: 0.9rem;
    margin-bottom: 50px;
}

#event-time-and-place-section {
    font-size: 0.8rem;
    min-width: 50%;
}

#event-desc-text {
    padding-bottom: 5%;
}

#event-time-and-place-title {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 3%;
}

#event-date{
    padding-bottom: 1%;
}

#event-time {
    padding-bottom: 1%;
}

#event-place {
    padding-bottom: 5%;
}

#calendar {
    padding-bottom: 1%;
}

#event-map {
    height: 500px;
}



