@import "variables";

.event-card-content {
	padding: 20px;
	font-weight: $font-semi-bold;
	font-size: 1rem;

	.card-title {
		font-size: 1.25rem;
		margin-bottom: 16px;
	}

	.card-desc {
		font-weight: $font-regular;
	}
}

#top-section {
	margin-bottom: 40px;
	margin-top: 30px;
	height: 450px;
	// max-height: 50vh;
	// overflow: auto;

	position: relative;
	#top-section-left {
		width: 60%;
		height: max-content;
		position: absolute;
		background-color: rgba(219, 220, 220, 0.37);
		padding-left: 5vw;
		padding-top: 30px;
		padding-right: 5vw;
		padding-bottom: 30px;

		#top-section-left-triangle {
			width: 0;
			height: 0;
			right: 0;
			top: 0;
			color: $site-background;
			position: absolute;
			border-top: 50px solid;
			border-left: 50px solid transparent;
		}

		#top-section-text, #top-section-text-mobile {
			font-size: 1.8rem;
			font-weight: 500;
			line-height: 2.1rem;
			span {
				font-weight: 700;
				text-decoration: underline;
			}
		}

		@media only screen and (max-width: 500px) {
			#top-section-text {
				display: none
			}
			#top-section-text-mobile {
				padding-top: 20px;
				display: auto
			}
		}

		@media only screen and (min-width: 500px) {
			#top-section-text {
				display: auto
			}
			#top-section-text-mobile {
				display: none
			}
		}

	}

	#featured-event-section {
		position: absolute;
		padding-top: 30px;
		padding-left: 30px;
		padding-bottom: 25px;
		padding-right: 50px;
		right: 0;
		bottom: 0;
		color: white;
		background-color: black;
		max-width: 575px;

		#featured-event-section-triangle {
			color: $site-background;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 0;
			height: 0;
			border-bottom: 50px solid $site-background;
			border-left: 50px solid transparent;
		}

		#featured-event-section-left {
			.card-upcoming-event {
				font-size: 1.5rem;
				font-weight: $font-semi-bold;
			}
			.card-date {
				font-size: 0.8rem;
			}
		}

		#featured-event-section-right {
			max-width: 70%;
			.card-title {
				font-size: 1.3rem;
				font-weight: $font-semi-bold;
			}
		}

		// transition-duration: 0.3s;
		// &:hover {
		// 	transition-timing-function: ease;
		// 	box-shadow: -5px 5px 0 0px $site-background, -5px 5px 0 2px #f6ad3c;
		// 	margin-left: 5px;
		// 	margin-right: -5px;
		// 	margin-top: $section-top-margin - 5px;
		// 	margin-bottom: 5px;
		// }
	}
}

@media only screen and (max-width: 1250px) {
	#featured-event-section {
		display: none;
	}

	#top-section #top-section-left {
		width: 100%;
		position: relative;

	}

	#top-section {
		height: max-content;
		margin-bottom: 30px;
	}
}

#recent-events-section {
	#recent-events-title {
		font-weight: $font-bold;
		font-size: 1.9rem;
	}

	#recent-events-desc {
		max-width: 70%;
		min-width: 300px;
		font-weight: 450;
		line-height: 1.7rem;
		font-size: 1.5rem;
		padding-bottom: 10px;
		font-family: 'Crimson Text', serif;
	}

	.grid-row {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 20px;
		margin-bottom: 30px;
	}

	.event-card {
		position: relative;
		width: 100%;
		height: auto;
		margin: 0;
		cursor: pointer;
	}

	.event-card-background {
		height: 100%;
		width: 100%;
		background-color: $site-background;
		border: 2px solid black;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}

	.event-card-content {
		height: 100%;
		width: 100%;
		z-index: 5;
		position: relative;
		transition: 0.2s;
		padding: 25px;
	}

	.event-card-content:hover {
		transform: translate(5px, -5px);
		backdrop-filter: blur(4px);
	}

	#first-event-card {
		background-color: #be4e4e;

		div {
			color: white;
		}
		.card-date {
			color: #ffe57d;
		}
	}

	#first-event-card:hover {
		background-color: #ce4f4fcc;
	}

	#second-event-card {
		background-color: $custom-sand;
		div {
			color: black;
		}
		.card-date {
			color: #725c07;
		}
	}

	#second-event-card:hover {
		background-color: #ecd1a5cc;
	}

	#third-event-card {
		background-color: $custom-black;
		div {
			color: white;
		}
		.card-date {
			color: #ffe57d;
		}
	}

	#third-event-card:hover {
		background-color: #000000b0;
	}
}

#leadership-section {
	margin-top: 100px;
	#leadership-section-title {
		font-weight: $font-bold;
		font-size: 1.9rem;
	}

	.grid-row {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		grid-gap: 20px;
		margin-bottom: 20px;
	}

	.member-card {
		.card-name {
			font-size: 1rem;
			margin-top: 10px;
			font-weight: $font-semi-bold;
		}
		.card-italic-desc {
			font-size: 0.95rem;
		}
	}

	#leadership-desc {
		max-width: 70%;
		font-weight: 450;
		line-height: 1.7rem;
		font-size: 1.5rem;
		padding-top: 10px;
		padding-bottom: 10px;
		font-family: 'Crimson Text', serif;
	}


	@media only screen and (max-width: 500px) {
		#leadership-desc {
			max-width: 100%;
		}
	}
}

#resources-section {
	margin-top: 100px;
	#resources-section-title {
		font-weight: $font-bold;
		font-size: 1.9rem;
	}
	
	.resources-arrow {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 30px;
	}

	#resources-desc {
		font-weight: 450;
		line-height: 1.7rem;
		font-size: 1.5rem;
		padding-bottom: 10px;
		font-family: 'Crimson Text', serif;
	}
	#resources-left {
		width: 70%;
		font-size: 1rem;
		font-weight: $font-regular;
	}
	@media only screen and (max-width: 500px) {
		#resources-left {
			width: 100%;
		}
	}

	#resources-divider {
		width: 30%;
	}

	.grid-container {
		width: 100%;
		display: grid;
		padding: 0;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
	}

	.resource-card {
		text-align: left;
		position: relative;
		font-weight: $font-bold;
		font-size: 1rem;
		height: 150px;
	}

	.resource-button {
		border: none;
		color: white;
		padding: 16px 16px;
		text-align: left;
		text-decoration: none;
		display: inline-block;
		margin: 2px 2px;
		transition-duration: 0.4s;
		cursor: pointer;
	}

	.resource-button2 {
		background-color: #6589b4;
	}

	.resource-button3 {
		background-color: #aa8f78;
		color: rgb(255, 255, 255);
	}

	.resource-button4 {
		background-color: #808080;
		color: rgb(255, 255, 255);
	}

	.resource-button5 {
		background-color: #ae4847;
		color: rgb(255, 255, 255);
	}

	.resource-button:hover {
		opacity: 0.8;
	}

	.card-bold-desc {
		font-size: 1.3rem;
		line-height: 1.5rem;
		position: absolute;
		left: 20px;
		bottom: 20px;
	}
}