#resources-top-section {
  padding-top: 30px;
  position: relative;
}

#resources-top-section #resources-top-section-title {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 35px;
  padding-bottom: 10px;
}

#resources-top-section #resources-top-section-banner {
  padding-bottom: 20px;
}

#resources-top-section #resources-top-section-banner #banner-left {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}

#resources-top-section #resources-top-section-banner #banner-left #banner-image {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

#resources-top-section #resources-top-section-banner #banner-left #banner-left-triangle {
  color: black;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 250px solid black;
  border-left: 100px solid transparent;
}

#resources-top-section #resources-top-section-banner #banner-right {
  background-color: black;
  color: white;
  width: 30%;
  min-width: 250px;
  height: 250px;
  margin: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 5px;
}

#resources-top-section #resources-top-section-banner #banner-right #banner-right-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-align: right;
}

#resources-top-section #resources-top-section-banner #banner-right #banner-right-when {
  font-weight: 300;
  font-size: 1.25rem;
  text-align: right;
}

#resources-top-section #resources-top-section-banner #banner-right #banner-right-where {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 1.25rem;
  text-align: right;
}

#resources-top-section #resources-top-section-banner #banner-right #banner-right-desc {
  font-weight: 300;
  font-size: 0.75rem;
  text-align: right;
}

@media only screen and (max-width: 500px) {
  #resources-top-section #resources-top-section-banner #banner-right {
    min-width: 50%;
  }
  #resources-top-section #resources-top-section-banner #banner-right-desc {
    display: none;
  }
}

.resources-mid-section .resources-mid-section-title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 1.9rem;
}

.resources-mid-section .resources-mid-section-content .resources-mid-section-body .resources-mid-section-desc {
  padding-bottom: 20px;
}

.resources-mid-section .resources-mid-section-content .resources-mid-section-body .resources-mid-section-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 15px;
}

.resources-mid-section .resources-mid-section-content .resources-mid-section-image .resources-image {
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 20px;
  padding-right: 50px;
}

@media only screen and (max-width: 1000px) {
  .resources-mid-section .resources-mid-section-content .resources-mid-section-image .resources-image {
    width: 100%;
    padding-right: 0;
  }
}

.connect-section-title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 1.9rem;
}

#connect-section {
  border: 1px solid black;
}

#connect-section .connect-halve {
  padding-top: 40px;
  padding-bottom: 50px;
}

#connect-section .connect-halve .connect-title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 10px;
}

#connect-section .connect-halve .connect-body {
  font-size: 1.25rem;
  line-height: auto;
  margin-bottom: 20px;
}

#connect-section #connect-left {
  background-image: url("/images/law.jpg");
  background-position: center;
  color: white;
  padding-left: 2vw;
  padding-right: 5vw;
  -webkit-box-shadow: inset 0 0 0 1000px black;
          box-shadow: inset 0 0 0 1000px black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#connect-section #connect-left .arrow-link {
  color: white;
}

#connect-section #connect-left .arrow-link span {
  display: inline-block;
}

#connect-section #connect-left .arrow-link span:after {
  content: "";
  width: 0;
  right: 0;
  height: 2px;
  display: block;
  background: white;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

#connect-section #connect-left .arrow-link span:hover:after, #connect-section #connect-left .arrow-link span:focus:after, #connect-section #connect-left .arrow-link span:active:after {
  width: 100%;
}

#connect-section #connect-right {
  background-image: url("/images/letter.jpg");
  background-position: center;
  padding-left: 2vw;
  padding-right: 5vw;
  -webkit-box-shadow: inset 0 0 0 1000px white;
          box-shadow: inset 0 0 0 1000px white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#connect-section #connect-right:hover {
  -webkit-box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.7);
          box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.7);
}

#connect-section #connect-left:hover {
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 1000px) {
  #connect-section #connect-left {
    padding-left: 5vw;
  }
  #connect-section #connect-right {
    padding-left: 5vw;
  }
}
/*# sourceMappingURL=resources.css.map */