html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: white;
}

a:hover {
  text-decoration: none;
}

a {
  color: black;
}

a:hover {
  color: black;
}

.custom-navbar {
  margin-top: 30px;
  height: 10px;
  background-color: white;
  border-bottom: 2px solid #000000;
}

@media (max-width: 991px) {
  .custom-navbar {
    height: 60px;
  }
}

a.navbar-brand {
  padding-bottom: 0;
  font-weight: 600;
}

a.navbar-brand:hover {
  color: rgba(0, 0, 0, 0.658);
}

.navbar {
  min-height: 45px;
}

.nav-item {
  background-color: white;
}

a.nav-link {
  padding-bottom: 0;
  font-size: 1.15rem;
  font-weight: 500;
  padding-right: 0;
  margin-left: 10px;
}

a.nav-link:hover {
  font-weight: 500;
}

.navbar-item-1:hover {
  color: #F6AD3C !important;
}

.navbar-item-2:hover {
  color: #B9519E !important;
}

.navbar-item-3:hover {
  color: #00A899 !important;
}

.navbar-item-4:hover {
  color: #E72327 !important;
}

.centered-wrapper {
  max-width: 1150px;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
}

.flexbox-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.arrow-link {
  font-weight: 500;
  font-size: 1.5rem;
  display: inline;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
}

.arrow-link span {
  display: inline-block;
}

.arrow-link span:after {
  content: "";
  width: 0;
  right: 0;
  height: 2px;
  display: block;
  background: black;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.arrow-link span:hover:after, .arrow-link span:focus:after, .arrow-link span:active:after {
  width: 100%;
}

.right-aligned {
  float: right;
}

.event-card-content {
  padding: 20px;
  font-weight: 600;
  font-size: 1rem;
}

.event-card-content .card-title {
  font-size: 1.25rem;
  margin-bottom: 16px;
}

.event-card-content .card-desc {
  font-weight: 400;
}

#navbar {
  border-style: hidden hidden solid hidden;
  border-width: 1px;
  margin: 0;
  padding: 0;
}

#navbar #navbar-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 10px 0;
}

#top-section {
  max-width: 100%;
  margin-bottom: 50px;
  margin-top: 30px;
  height: 450px;
  position: relative;
}

#top-section #top-section-left {
  max-height: 450px;
  max-width: 60%;
  position: absolute;
  background-color: rgba(219, 220, 220, 0.37);
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 100px;
  padding-bottom: 30px;
}

#top-section #top-section-left #top-section-left-triangle {
  width: 0;
  height: 0;
  right: 0;
  top: 0;
  color: white;
  position: absolute;
  border-top: 50px solid;
  border-left: 50px solid transparent;
}

#top-section #top-section-left #top-section-text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.1rem;
}

#top-section #top-section-left #top-section-text span {
  font-weight: 700;
  text-decoration: underline;
}

#top-section #featured-event-section {
  position: absolute;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 25px;
  padding-right: 50px;
  right: 0;
  bottom: 0;
  color: white;
  background-color: black;
  max-width: 575px;
}

#top-section #featured-event-section #featured-event-section-triangle {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 50px solid white;
  border-left: 50px solid transparent;
}

#top-section #featured-event-section #featured-event-section-left .card-upcoming-event {
  font-size: 1.5rem;
  font-weight: 600;
}

#top-section #featured-event-section #featured-event-section-left .card-date {
  font-size: 0.8rem;
}

#top-section #featured-event-section #featured-event-section-right {
  max-width: 70%;
}

#top-section #featured-event-section #featured-event-section-right .card-title {
  font-size: 1.3rem;
  font-weight: 600;
}

#recent-events-section #recent-events-title {
  font-weight: 700;
  font-size: 1.875rem;
}

#recent-events-section #recent-events-desc {
  max-width: 70%;
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 10px;
}

#recent-events-section .grid-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 32px;
  margin-bottom: 40px;
}

#recent-events-section .event-card {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  cursor: pointer;
}

#recent-events-section .event-card-background {
  height: 100%;
  width: 100%;
  background-color: white;
  border: 2px solid black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#recent-events-section .event-card-content {
  height: 100%;
  width: 100%;
  z-index: 5;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 25px;
}

#recent-events-section .event-card-content:hover {
  -webkit-transform: translate(5px, -5px);
          transform: translate(5px, -5px);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

#recent-events-section #first-event-card {
  background-color: #be4e4e;
}

#recent-events-section #first-event-card div {
  color: white;
}

#recent-events-section #first-event-card .card-date {
  color: #ffe57d;
}

#recent-events-section #first-event-card:hover {
  background-color: #ce4f4fcc;
}

#recent-events-section #second-event-card {
  background-color: #d4bc96;
}

#recent-events-section #second-event-card div {
  color: black;
}

#recent-events-section #second-event-card .card-date {
  color: #725c07;
}

#recent-events-section #second-event-card:hover {
  background-color: #ecd1a5cc;
}

#recent-events-section #third-event-card {
  background-color: #000000;
}

#recent-events-section #third-event-card div {
  color: white;
}

#recent-events-section #third-event-card .card-date {
  color: #ffe57d;
}

#recent-events-section #third-event-card:hover {
  background-color: #000000b0;
}

#leadership-section .grid-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 32px;
  margin-bottom: 20px;
}

#leadership-section .member-card .card-name {
  font-size: 0.938rem;
  font-weight: 600;
}

#leadership-section .member-card .card-italic-desc {
  font-size: 0.875rem;
}

#leadership-section #leadership-desc {
  max-width: 70%;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 10px;
}

#resources-section {
  margin-top: 100px;
}

#resources-section #resources-left {
  width: 70%;
  font-size: 1rem;
  font-weight: 400;
}

#resources-section #resources-divider {
  width: 30%;
}

#resources-section .grid-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  padding: 0;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#resources-section .resource-card {
  text-align: left;
  position: relative;
  font-weight: 700;
  font-size: 1rem;
  height: 150px;
}

#resources-section .resource-button {
  border: none;
  color: white;
  padding: 16px 16px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

#resources-section .resource-button2 {
  background-color: #f6ad3c;
  color: black;
}

#resources-section .resource-button3 {
  background-color: #b9519e;
  color: white;
}

#resources-section .resource-button4 {
  background-color: #00a899;
  color: white;
}

#resources-section .resource-button5 {
  background-color: #e72327;
  color: white;
}

#resources-section .resource-button:hover {
  opacity: 0.8;
}

#resources-section .resource-card > span {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}

#footer {
  margin-top: 100px;
  width: 100%;
  background-color: black;
  height: 250px;
  padding: 30px;
}

#footer #footer-left {
  width: auto;
  color: white;
  font-size: 24px;
  font-weight: 700;
}

#footer #footer-right {
  width: 40%;
}

#footer #footer-right #footer-links {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (100px)[3];
      grid-template-columns: repeat(3, 100px);
  grid-gap: 32px;
}

#footer #footer-right #footer-links a {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
}
/*# sourceMappingURL=styles.css.map */