body {
  font-family: "Inter", sans-serif;
  background-color: white;
}

a:hover {
  text-decoration: none;
}

.centered-wrapper {
  max-width: 1150px;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
}

.flexbox-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.arrow-link {
  font-weight: 500;
  font-size: 20px;
  display: inline;
  position: relative;
  overflow: hidden;
}

.arrow-link span {
  display: inline-block;
}

.arrow-link span:after {
  content: '';
  width: 0;
  right: 0;
  height: 2px;
  display: block;
  background: black;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.arrow-link span:hover:after, .arrow-link span:focus:after, .arrow-link span:active:after {
  width: 100%;
}

.right-aligned {
  float: right;
}

.event-card {
  padding: 20px;
  font-weight: 600;
  font-size: 16px;
}

.event-card .card-title {
  font-size: 20px;
  margin-bottom: 16px;
}

.event-card .card-desc {
  font-weight: 400;
}

#navbar {
  border-style: hidden hidden solid hidden;
  border-width: 1px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

#navbar #navbar-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 10px 0;
}

#navbar li:hover {
  font-weight: 700;
}

#top-section {
  max-width: 100%;
  margin-bottom: 50px;
}

#top-section #top-section-left {
  max-width: 50%;
}

#top-section #top-section-left #top-section-text {
  font-size: 24px;
}

#top-section #top-section-left #top-section-text span {
  text-decoration: underline;
  font-weight: 600;
}

#top-section #featured-event-section {
  margin-top: 50px;
  width: 335px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#top-section #featured-event-section img {
  width: inherit;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

#top-section #featured-event-section #featured-event-card {
  background-color: black;
}

#top-section #featured-event-section #featured-event-card div {
  color: white;
}

#top-section #featured-event-section #featured-event-card .card-date {
  color: #FFE57D;
}

#top-section #featured-event-section:hover {
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-box-shadow: -5px 5px 0 0px white, -5px 5px 0 2px #F6AD3C;
          box-shadow: -5px 5px 0 0px white, -5px 5px 0 2px #F6AD3C;
  margin-left: 5px;
  margin-right: -5px;
  margin-top: 45px;
  margin-bottom: 5px;
}

#recent-events-section {
  margin-bottom: 100px;
}

#recent-events-section #recent-events-title {
  font-weight: 700;
  font-size: 30px;
}

#recent-events-section #recent-events-desc {
  max-width: 80%;
  font-weight: 400;
  font-size: 16px;
}

#recent-events-section .grid-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
  margin-bottom: 40px;
}

#recent-events-section .event-card {
  opacity: 80%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
}

#recent-events-section .event-card:hover {
  -webkit-box-shadow: -5px 5px 0 0px white, -5px 5px 0 2px #F6AD3C;
          box-shadow: -5px 5px 0 0px white, -5px 5px 0 2px #F6AD3C;
  margin-left: 5px;
  margin-right: -5px;
  margin-top: -5px;
  margin-bottom: 5px;
}

#recent-events-section #first-event-card {
  background-color: #9A1919;
}

#recent-events-section #first-event-card div {
  color: white;
}

#recent-events-section #first-event-card .card-date {
  color: #FFE57D;
}

#recent-events-section #second-event-card {
  background-color: #D4BC96;
}

#recent-events-section #second-event-card div {
  color: black;
}

#recent-events-section #second-event-card .card-date {
  color: #725C07;
}

#recent-events-section #third-event-card {
  background-color: #000000;
}

#recent-events-section #third-event-card div {
  color: white;
}

#recent-events-section #third-event-card .card-date {
  color: #FFE57D;
}

#leadership-section .grid-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;
  margin-bottom: 40px;
}

#leadership-section .member-card .card-name {
  font-size: 15px;
  font-weight: 600;
}

#leadership-section .member-card .card-italic-desc {
  font-size: 14px;
}

#leadership-section #leadership-desc {
  max-width: 80%;
  font-size: 16px;
  font-weight: 400;
}

#resources-section {
  margin-top: 100px;
}

#resources-section #resources-left {
  max-width: 40%;
}

#resources-section .grid-container {
  max-width: 50%;
  display: -ms-grid;
  display: grid;
  padding: 0px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}

#resources-section .resource-card {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  position: relative;
  font-weight: 700;
  height: 150px;
}

#resources-section .resource-button {
  border: none;
  color: white;
  padding: 16px 16px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 2px 2px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

#resources-section .resource-button2 {
  background-color: #F6AD3C;
  color: black;
}

#resources-section .resource-button3 {
  background-color: #B9519E;
  color: white;
}

#resources-section .resource-button4 {
  background-color: #00A899;
  color: white;
}

#resources-section .resource-button5 {
  background-color: #E72327;
  color: white;
}

#resources-section .resource-button:hover {
  opacity: 0.8;
}

#resources-section .resource-card > span {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}

#footer {
  margin-top: 100px;
  max-width: 100%;
  background-color: black;
  height: 250px;
  padding: 30px;
}

#footer #footer-left {
  width: 40%;
  color: white;
  font-size: 24px;
  font-weight: 700;
}

#footer #footer-right {
  width: 40%;
}

#footer #footer-right #footer-links {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (100px)[3];
      grid-template-columns: repeat(3, 100px);
  grid-gap: 2rem;
}

#footer #footer-right #footer-links a {
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
/*# sourceMappingURL=styles.css.map */