$font-primary: 'Inter', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

$custom-red: #9A1919;
$custom-sand: #D4BC96;
$custom-black: #000000;

$site-background: white;

body {
    font-family: $font-primary;
    background-color: $site-background;
}

.centered-wrapper {
    max-width: 1024px;
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
}

.flexbox-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.arrow-link {
    font-weight: $font-medium;
    font-size: 20px;
    span {
        text-decoration: underline;
    }
}

.right-aligned {
    float: right;
}

.event-card {
    padding: 20px;
    font-weight: $font-semi-bold;
    font-size: 16px;

    .card-title {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .card-desc {
        font-weight: $font-regular; 
    }
}

#navbar {
    border-style: hidden hidden solid hidden;
    border-width: 1px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    #navbar-flex {
        display: flex;
        justify-content: space-between;
    
        #navbar-buttons-flex {
            display: flex;
            justify-content: space-between;
            width: 40%;
        }
    
        #navbar-left-button {
            button {
                font-weight: $font-bold;
            }
        }
    
        button {
            margin: 0;
            padding: 0;
            border: none;
            background-color: transparent;
            cursor: pointer;
            text-align: center;
            -webkit-appearance: none;
            -moz-appearance: none;
            font-size: 20px;
        }
        padding: 30px 0 10px 0;
    }
}

#top-section {
    max-width: 100%;
    margin-bottom: 50px;
    #top-section-left {
        max-width: 50%;
        #top-section-text {
            font-size: 24px;
            span {
                font-weight: $font-semi-bold;
                text-decoration: underline;
            }
        }
    }
    #featured-event-section {
        margin-top: 50px;
        width: 335px;
        img {
            width: inherit;
            height: 170px;
            object-fit: cover;
            display: block;
        }
        #featured-event-card {
            background-color: black;
            div {
                color: white;
            }
            .card-date {
                color: #FFE57D;
            }
        }
    }
}

#recent-events-section {
    #recent-events-title {
        font-weight: $font-bold;
        font-size: 30px;
    }
    
    #recent-events-desc {
        max-width: 80%;
        font-weight: $font-regular;
        font-size: 16px;
    }

    .grid-row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 2rem;
        margin-bottom: 40px;
    }

    .event-card {
        opacity: 80%;
    }

    #first-event-card {
        background-color: $custom-red;
        div {
            color: white;
        }
        .card-date {
            color: #FFE57D;
        }
        box-shadow: -5px 5px 0 0px $site-background, -5px 5px 0 2px #F6AD3C;
    }
    #second-event-card {
        background-color: $custom-sand;
        div {
            color: black;
        }
        .card-date {
            color: #725C07;
        }
        box-shadow: -5px 5px 0 0px $site-background, -5px 5px 0 2px #F6AD3C;
    }
    #third-event-card {
        background-color: $custom-black;
        div {
            color: white;
        }
        .card-date {
            color: #FFE57D;
        }
        box-shadow: -5px 5px 0 0px $site-background, -5px 5px 0 2px #F6AD3C;
    }

    margin-bottom: 100px;
}

