body {
    font-family: 'Inter', sans-serif;
}

.centered-wrapper {
    max-width: 1024px;
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
}

.flexbox-section {
    display: flex;
    justify-content: space-between;

}