$font-primary: "Inter", sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

$custom-red: #9a1919;
$custom-sand: #d4bc96;
$custom-black: #000000;

$site-background: white;

html {
	font-size: 16px;
}

body {
	font-family: $font-primary;
	background-color: $site-background;
}

a:hover {
	text-decoration: none;
}

a {
	color: black
}

a:hover {
	color: black;
}

// NavBar
.custom-navbar {
	margin-top: 30px;
	height: 10px;
	background-color: $site-background;
	border-bottom: 2px solid #000000;
}

@media (max-width: 991px) {
	.custom-navbar {
		height: 60px;
	}
}

a.navbar-brand {
	padding-bottom: 0;
	font-weight: 600;
}

a.navbar-brand:hover {
	color:rgba(0, 0, 0, 0.658);
}

.navbar {
	min-height: 45px;
}

.nav-item {
	background-color: white;
}

a.nav-link {
	padding-bottom: 0;
	font-size: 1.15rem;
	font-weight: 500;
	padding-right: 0;
	margin-left: 10px;
}

a.nav-link:hover {
	font-weight: 500;
}

.navbar-item-1:hover {
	color: #F6AD3C !important;
}

.navbar-item-2:hover {
	color: #B9519E !important;
}

.navbar-item-3:hover {
	color: #00A899 !important;
}

.navbar-item-4:hover {
	color: #E72327 !important;
}

// Main Page
.centered-wrapper {
	max-width: 1150px;
	width: 80vw;
	margin-right: auto;
	margin-left: auto;
}

.flexbox-section {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.arrow-link {
	font-weight: $font-medium;
	font-size: 1.5rem;
	display: inline;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	cursor: pointer;
	span {
		display: inline-block;
		&:after {
			content: "";
			width: 0;
			right: 0;
			height: 2px;
			display: block;
			background: black;
			transition-duration: 0.3s;
			transition-timing-function: ease-out;
		}
		&:hover:after,
		&:focus:after,
		&:active:after {
			width: 100%;
		}
	}
}

.right-aligned {
	float: right;
}

.event-card-content {
	padding: 20px;
	font-weight: $font-semi-bold;
	font-size: 1rem;

	.card-title {
		font-size: 1.25rem;
		margin-bottom: 16px;
	}

	.card-desc {
		font-weight: $font-regular;
	}
}

#navbar {
	border-style: hidden hidden solid hidden;
	border-width: 1px;
	margin: 0;
	padding: 0;

	#navbar-flex {
		display: flex;
		justify-content: space-between;
		padding: 30px 0 10px 0;
	}
}

#top-section {
	max-width: 100%;
	margin-bottom: 50px;
	margin-top: 30px;
    height: 450px;
    position:relative;
	#top-section-left {
        max-height: 450px;
        max-width: 60%;
        position:absolute;
        background-color: rgba(219, 220, 220, 0.37);
        padding-left: 30px;
        padding-top: 30px;
        padding-right: 100px;
        padding-bottom: 30px;

        #top-section-left-triangle {
            width: 0;
            height: 0;
            right:0;
            top:0;
            color: $site-background;
            position:absolute;
            border-top: 50px solid ;
            border-left: 50px solid transparent;
        }

		#top-section-text {
			font-size: 1.8rem;
			font-weight: 500;
			line-height: 2.1rem;
			span {
				font-weight: 700;
				text-decoration: underline;
			}
		}
	}
    
	#featured-event-section {
        position:absolute;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 25px;
        padding-right: 50px;
        right:0;
        bottom:0;
        color: white;
        background-color: black;
        max-width:575px;

        #featured-event-section-triangle {
            color: $site-background;
            position: absolute;
            bottom: 0;
            right:0;
            width: 0;
            height: 0;
            border-bottom: 50px solid $site-background;
            border-left: 50px solid transparent;
        }

        #featured-event-section-left {
            .card-upcoming-event {
                font-size:1.5rem;
                font-weight: $font-semi-bold;
            }
            .card-date {
                font-size:0.8rem;
            }
        }

        #featured-event-section-right {
            max-width:70%;
            .card-title {
                font-size:1.3rem;
                font-weight: $font-semi-bold;
            }
        }
        
		// transition-duration: 0.3s;
		// &:hover {
		// 	transition-timing-function: ease;
		// 	box-shadow: -5px 5px 0 0px $site-background, -5px 5px 0 2px #f6ad3c;
		// 	margin-left: 5px;
		// 	margin-right: -5px;
		// 	margin-top: $section-top-margin - 5px;
		// 	margin-bottom: 5px;
		// }
	}
}

#recent-events-section {
	#recent-events-title {
		font-weight: $font-bold;
		font-size: 1.875rem;
	}

	#recent-events-desc {
		max-width: 70%;
		font-weight: $font-regular;
		font-size: 1rem;
		padding-bottom: 10px;
	}

	.grid-row {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 32px;
		margin-bottom: 40px;
	}

	.event-card {
		position: relative;
		width: 100%;
		height: auto;
		margin: 0;
		cursor: pointer;
	}

	.event-card-background {
		height: 100%;
		width: 100%;
		background-color: $site-background;
		border: 2px solid black;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		
	}

	.event-card-content {
		height: 100%;
		width: 100%;
		z-index: 5;
		position: relative;
		transition: 0.2s;
		padding: 25px;
	}

	.event-card-content:hover {
		transform: translate(5px, -5px);
		backdrop-filter: blur(4px);
	}

	#first-event-card {
		background-color: #be4e4e;
		
		div {
			color: white;
		}
		.card-date {
			color: #ffe57d;
		}
	}

	#first-event-card:hover {
		background-color: #ce4f4fcc;
	}

	#second-event-card {
		background-color: $custom-sand;
		div {
			color: black;
		}
		.card-date {
			color: #725c07;
		}
	}

	#second-event-card:hover {
		background-color: #ecd1a5cc;
	}
	
	#third-event-card {
		background-color: $custom-black;
		div {
			color: white;
		}
		.card-date {
			color: #ffe57d;
		}
	}

	#third-event-card:hover {
		background-color: #000000b0;
	}
}

#leadership-section {
	.grid-row {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 32px;
		margin-bottom: 20px;
	}
	.member-card {
		.card-name {
			font-size: 0.938rem;
			font-weight: $font-semi-bold;
		}
		.card-italic-desc {
			font-size: 0.875rem;
		}
	}

	#leadership-desc {
		max-width: 70%;
		font-size: 1rem;
		font-weight: $font-regular;
		padding-bottom: 10px;
	}
}

#resources-section {
	margin-top: 100px;

	#resources-left {
		width: 70%;
		font-size: 1rem;
		font-weight: $font-regular;
	}

	#resources-divider {
		width: 30%;
	}

	.grid-container {
		width: 100%;
		display: grid;
		padding: 0;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
	}

	.resource-card {
		text-align: left;
		position: relative;
		font-weight: $font-bold;
		font-size: 1rem;
		height: 150px;
	}

	.resource-button {
		border: none;
		color: white;
		padding: 16px 16px;
		text-align: left;
		text-decoration: none;
		display: inline-block;
		margin: 2px 2px;
		transition-duration: 0.4s;
		cursor: pointer;
	}

	.resource-button2 {
		background-color: #6589b4;
		color: rgb(0, 0, 0);
	}

	.resource-button3 {
		background-color: #aa8f78;
		color: rgb(255, 255, 255);
	}

	.resource-button4 {
		background-color: #808080;
		color: rgb(255, 255, 255);
	}

	.resource-button5 {
		background-color: #ae4847;
		color: rgb(255, 255, 255);
	}

	.resource-button:hover {
		opacity: 0.8;
	}

	.resource-card > span {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 10px;
	}
}

#footer {
	margin-top: 100px;
	width: 100%;
	background-color: black;
	height: 250px;
	padding: 30px;

	#footer-left {
		width: auto;
		color: white;
		font-size: 24px;
		font-weight: $font-bold;
	}

	#footer-right {
		width: 40%;
		#footer-links {
			width: 100%;
			display: grid;
			justify-content: space-between;
			grid-template-columns: repeat(3, 100px);
			grid-gap: 32px;
			a {
				color: white;
				font-size: 1rem;
				font-weight: $font-semi-bold;
				text-align: left;
			}
		}
	}
}
